@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roobert', sans-serif;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert/Roobert-Light.woff2') format('woff2'),
       url('/fonts/Roobert/Roobert-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert/Roobert-Regular.woff2') format('woff2'),
       url('/fonts/Roobert/Roobert-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert/Roobert-Medium.woff2') format('woff2'),
       url('/fonts/Roobert/Roobert-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert/Roobert-SemiBold.woff2') format('woff2'),
       url('/fonts/Roobert/Roobert-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert/Roobert-Bold.woff2') format('woff2'),
       url('/fonts/Roobert/Roobert-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert/Roobert-Heavy.woff2') format('woff2'),
       url('/fonts/Roobert/Roobert-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.animate-pulse {
  animation: pulse 1.5s ease-in-out infinite;
}


